







/* assets/styles/navbar.module.css */

.hole {
  /* position: fixed; */
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:#ff4e4e;
  z-index: 9999;
  width: 100%;
  padding: 10px;
}

.left h1 {
  margin: 0;
  scale: 0.7;
  font-size: 2.5rem;
}

.middle ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.middle ul li {
  margin: 0 10px;
}

.right {
  display: none;
}

/* Hamburger menu icon styles */
.menuIcon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Display the menu on smaller screens */
.middle.showMenu {
  display: block;
}

/* Display the hamburger icon on smaller screens */
.right {
  display: flex;
}

.right.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.right.active .bar:nth-child(2) {
  opacity: 0;
}

.right.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 768px) {
  .middle {
    display: flex;
  }
  .right {
    display: none;
  }

}


@media (max-width: 768px) {
  .middle ul li {
    display: none;
  }
  .hide_drop_down{
    display: none;
  }
}
.drop_down li {
  list-style: none;
  /* margin-top: 1rem; */
  padding: 1rem;

}
.drop_down{
  padding-right: 2rem;

  z-index: 999;
  position: absolute;
  margin-top: 0.6rem;
  margin-left: -8rem;
  display: grid;
  gap:1rem;
  background-color: rgba(3, 3,3, 0.8);
  /* background-color: #333; */
  /* background-:; */
  
}