.show{
  z-index: -9999;


}
.hero{
  padding-bottom: 23rem;
  position: relative;
  
}
.holeGraph{
  /* adding-bottom: 10rem;
  height: 14rem;
  display: flex; */
  padding-left: 20rem;
  /* padding-right: 6rem;
  padding-bottom: 1rem;
  background-color: #0099ff;
  width: 10rem;
  */

}
.graph{
  /* padding-bottom: 60rem; */

  position: absolute;
  border-radius: 1rem;
  color: white;
  background-color: rgb(135, 8, 8);
  /* padding-left: 3rem; */
  width:5rem;
  /* padding-top: 1rem; */
  /* padding-right: 3rem; */
   bottom: 0; 
  transform-origin: bottom;
  font-size:2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* Add shadow */


}

.graph p{
  align-self:center;
  margin-right:4px;
/* color:red; */
}

.bttn {
  height:40px;
  width:5rem;
  font-weight:bold;

  margin-top: 3rem;

  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.bttn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0099ff;
  transition: width 0.3s;
  z-index: -1;
}

.bttn:hover::before {
  width: 100%;
}

.bttn:hover {
  box-shadow: 0 0 10px rgba(0, 153, 255, 0.7);
}
.backgroundimg{
  padding-top: 5rem;
  display: grid;
  overflow: hidden;
  /* margin-top:2rem; */
  height: 50rem;
  width: 100%;
  /* align-self:left; */
  position:absolute;
  z-index:-1;
  /* width:; */
  background-color:pink;
  grid-template-columns: repeat(8, 2fr); /* Three columns with equal width */
  grid-gap:-15rem;

}
.img1, .img4, .img8, .img11{
  height:200px
}
.img2, .img5, .img9, .img12{
  height:50px
}
.img{
  pointer-events: none;

  height:170px
  /* scale:0.08; */
  /* image-size:1rem; */
}
.buttomNav{
  display: flex;
  /* align-items: center; */
  gap: 1rem;
}
.slider{
  position: absolute;
margin-top: 9rem;
margin-left: 14rem;
  width: 15rem;
  /* height:1rem; */
  /* background-color: #0099ff; */
}
.dropup{
margin-top: 6rem;

}